:root {
    --bg-color:  #CADBC0;
    --textnote-color:  #413620;
    --padding-large: 80px;
    --font: 'Lora', serif;
    --icon-color: #F5EBE0;
    --font-size: 22px;
}

:root[data-bs-theme="dark"] {
  --bs-body-bg: #141414;
}

#appTitle {
  padding-top: var(--padding-large);
  font-family: var(--font);
}

#footer {
  padding-top: var(--padding-large);
  font-family: var(--font);
  position: relative;
}

.note-item{
    font-family: var(--font);
    border-bottom: 1px solid var(--textnote-color)!important;
    font-size: var(--font-size);
}

#txtNoteTitle{
  font-family: var(--font);
  font-size: var(--font-size);
}

#txtNoteBody{
  font-family: var(--font);
  font-size: var(--font-size);
}

#editorBox {
  border: 2px solid rgb(255, 85, 0);
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
}

.icon-font {
  font-size: 25px;
  color: var(--icon-color);
}

#exportBox{
  padding-top: var(--padding-large);
}